@media (max-width: 575px)
  .header
    &-wrapper
      padding: 2rem
  .nav
    top: 7rem
    padding: 1rem 2rem

  .intro
    padding-top: 7rem //header height
    &__title
      font-size: 4.8rem
    &__subtitle
      font-size: 3.2rem
