.logo
  text-transform: uppercase
  text-decoration: none
  padding-right: 1rem
  &__image
    margin-right: 0.5rem
  &__text
    font: normal 700 2.4rem "Montserrat"
    &--light
      color: $text-color-light
    &--accent
      color: $accent-color

.header
  background-color: $text-color-dark
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    padding: 8rem 10rem
  
.nav
  &__list
    display: flex
    align-items: center
    flex-wrap: wrap
    margin: 0
    padding: 0
    list-style-type: none
  &__item
    margin-left: 8rem
  &__link
    font: normal 300 1.4rem "Montserrat"
    text-transform: uppercase
    color: $text-color-light
    &:hover
      text-decoration: none
      color: $accent-color
      transition: color 0.3s ease

.mmenu
  display: none
  background: transparent
  &__line
    display: block
    width: 30px
    height: 3px
    margin: 5px 0
    background-color: #a4a4a4
  &:hover
    .mmenu
      &__line
        background-color: $accent-color
        transition: background-color 0.3s ease
  &.active
    .mmenu
      &__line
        background-color: rgba($accent-color, 0.8)
    &:hover
      .mmenu
        &__line
          background-color: $accent-color
